In [1]:
import requests, json
import pandas as pd
import datetime as dt
import json, requests

# Data used: Breakdown of COVID-19 positive hospital admissions

# Describe briefly the data source: Ontario Data Catalogue: https://data.ontario.ca/en/dataset/breakdown-of-covid-19-positive-hospital-admissions/resource/d1199d1b-dc82-4e63-bb80-5c715e97a127

# Illustrate how to prepare a GET request to pull the data: Get the first 100 data

# What parameters do you need to provide: resource_id, limit

# What type of authentication do you need to use: No auth, I used public data

In [2]:
resource_id = 'd1199d1b-dc82-4e63-bb80-5c715e97a127'
limit = '100'

api_url = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id={}&limit={}'.format(resource_id, limit)
api_url

'https://data.ontario.ca/api/3/action/datastore_search?resource_id=d1199d1b-dc82-4e63-bb80-5c715e97a127&limit=100'

In [3]:
data = requests.get(api_url)
data = data.json()

In [4]:
data.keys()

dict_keys(['help', 'success', 'result'])

In [5]:
data['result'].keys()

dict_keys(['include_total', 'resource_id', 'fields', 'records_format', 'records', 'limit', '_links', 'total'])

In [6]:
data['result']['records']

[{'_id': 1,
  'date': '2022-01-10T00:00:00',
  'hosp_for_covid': '.5302',
  'hosp_other_conditions': '.4698',
  'icu_for_covid': '.7955',
  'icu_other_conditions': '.2045'},
 {'_id': 2,
  'date': '2022-01-11T00:00:00',
  'hosp_for_covid': '.5395',
  'hosp_other_conditions': '.4605',
  'icu_for_covid': '.8279',
  'icu_other_conditions': '.1721'},
 {'_id': 3,
  'date': '2022-01-12T00:00:00',
  'hosp_for_covid': '.5468',
  'hosp_other_conditions': '.4532',
  'icu_for_covid': '.8307',
  'icu_other_conditions': '.1693'},
 {'_id': 4,
  'date': '2022-01-13T00:00:00',
  'hosp_for_covid': '.5450',
  'hosp_other_conditions': '.4550',
  'icu_for_covid': '.8198',
  'icu_other_conditions': '.1802'},
 {'_id': 5,
  'date': '2022-01-14T00:00:00',
  'hosp_for_covid': '.5277',
  'hosp_other_conditions': '.4723',
  'icu_for_covid': '.8027',
  'icu_other_conditions': '.1973'},
 {'_id': 6,
  'date': '2022-01-15T00:00:00',
  'hosp_for_covid': '.5308',
  'hosp_other_conditions': '.4692',
  'icu_for_covid': '.7942',
  'icu_other_conditions': '.2058'},
 {'_id': 7,
  'date': '2022-01-16T00:00:00',
  'hosp_for_covid': '.5224',
  'hosp_other_conditions': '.4776',
  'icu_for_covid': '.7899',
  'icu_other_conditions': '.2101'},
 {'_id': 8,
  'date': '2022-01-17T00:00:00',
  'hosp_for_covid': '.5274',
  'hosp_other_conditions': '.4726',
  'icu_for_covid': '.7950',
  'icu_other_conditions': '.2050'},
 {'_id': 9,
  'date': '2022-01-18T00:00:00',
  'hosp_for_covid': '.5276',
  'hosp_other_conditions': '.4724',
  'icu_for_covid': '.8166',
  'icu_other_conditions': '.1834'},
 {'_id': 10,
  'date': '2022-01-19T00:00:00',
  'hosp_for_covid': '.5411',
  'hosp_other_conditions': '.4589',
  'icu_for_covid': '.8253',
  'icu_other_conditions': '.1747'},
 {'_id': 11,
  'date': '2022-01-20T00:00:00',
  'hosp_for_covid': '.5486',
  'hosp_other_conditions': '.4514',
  'icu_for_covid': '.8115',
  'icu_other_conditions': '.1885'},
 {'_id': 12,
  'date': '2022-01-21T00:00:00',
  'hosp_for_covid': '.5414',
  'hosp_other_conditions': '.4586',
  'icu_for_covid': '.8167',
  'icu_other_conditions': '.1833'},
 {'_id': 13,
  'date': '2022-01-22T00:00:00',
  'hosp_for_covid': '.5660',
  'hosp_other_conditions': '.4340',
  'icu_for_covid': '.8189',
  'icu_other_conditions': '.1811'},
 {'_id': 14,
  'date': '2022-01-23T00:00:00',
  'hosp_for_covid': '.5559',
  'hosp_other_conditions': '.4441',
  'icu_for_covid': '.7954',
  'icu_other_conditions': '.2046'},
 {'_id': 15,
  'date': '2022-01-24T00:00:00',
  'hosp_for_covid': '.5588',
  'hosp_other_conditions': '.4412',
  'icu_for_covid': '.8327',
  'icu_other_conditions': '.1673'},
 {'_id': 16,
  'date': '2022-01-25T00:00:00',
  'hosp_for_covid': '.5539',
  'hosp_other_conditions': '.4461',
  'icu_for_covid': '.8404',
  'icu_other_conditions': '.1596'},
 {'_id': 17,
  'date': '2022-01-26T00:00:00',
  'hosp_for_covid': '.5564',
  'hosp_other_conditions': '.4436',
  'icu_for_covid': '.8240',
  'icu_other_conditions': '.1760'},
 {'_id': 18,
  'date': '2022-01-27T00:00:00',
  'hosp_for_covid': '.5613',
  'hosp_other_conditions': '.4387',
  'icu_for_covid': '.8136',
  'icu_other_conditions': '.1864'},
 {'_id': 19,
  'date': '2022-01-28T00:00:00',
  'hosp_for_covid': '.5537',
  'hosp_other_conditions': '.4463',
  'icu_for_covid': '.8087',
  'icu_other_conditions': '.1913'},
 {'_id': 20,
  'date': '2022-01-29T00:00:00',
  'hosp_for_covid': '.5454',
  'hosp_other_conditions': '.4546',
  'icu_for_covid': '.8091',
  'icu_other_conditions': '.1909'},
 {'_id': 21,
  'date': '2022-01-30T00:00:00',
  'hosp_for_covid': '.5434',
  'hosp_other_conditions': '.4566',
  'icu_for_covid': '.8088',
  'icu_other_conditions': '.1912'},
 {'_id': 22,
  'date': '2022-01-31T00:00:00',
  'hosp_for_covid': '.5586',
  'hosp_other_conditions': '.4414',
  'icu_for_covid': '.8248',
  'icu_other_conditions': '.1752'},
 {'_id': 23,
  'date': '2022-02-01T00:00:00',
  'hosp_for_covid': '.5503',
  'hosp_other_conditions': '.4497',
  'icu_for_covid': '.8206',
  'icu_other_conditions': '.1794'},
 {'_id': 24,
  'date': '2022-02-02T00:00:00',
  'hosp_for_covid': '.5630',
  'hosp_other_conditions': '.4370',
  'icu_for_covid': '.8256',
  'icu_other_conditions': '.1744'},
 {'_id': 25,
  'date': '2022-02-03T00:00:00',
  'hosp_for_covid': '.5633',
  'hosp_other_conditions': '.4367',
  'icu_for_covid': '.8253',
  'icu_other_conditions': '.1747'},
 {'_id': 26,
  'date': '2022-02-04T00:00:00',
  'hosp_for_covid': '.5435',
  'hosp_other_conditions': '.4565',
  'icu_for_covid': '.8345',
  'icu_other_conditions': '.1655'},
 {'_id': 27,
  'date': '2022-02-05T00:00:00',
  'hosp_for_covid': '.5431',
  'hosp_other_conditions': '.4569',
  'icu_for_covid': '.7976',
  'icu_other_conditions': '.2024'},
 {'_id': 28,
  'date': '2022-02-06T00:00:00',
  'hosp_for_covid': '.5447',
  'hosp_other_conditions': '.4553',
  'icu_for_covid': '.7837',
  'icu_other_conditions': '.2163'},
 {'_id': 29,
  'date': '2022-02-07T00:00:00',
  'hosp_for_covid': '.5487',
  'hosp_other_conditions': '.4513',
  'icu_for_covid': '.8010',
  'icu_other_conditions': '.1990'},
 {'_id': 30,
  'date': '2022-02-08T00:00:00',
  'hosp_for_covid': '.5586',
  'hosp_other_conditions': '.4414',
  'icu_for_covid': '.8168',
  'icu_other_conditions': '.1832'},
 {'_id': 31,
  'date': '2022-02-09T00:00:00',
  'hosp_for_covid': '.5585',
  'hosp_other_conditions': '.4415',
  'icu_for_covid': '.8028',
  'icu_other_conditions': '.1972'},
 {'_id': 32,
  'date': '2022-02-10T00:00:00',
  'hosp_for_covid': '.5526',
  'hosp_other_conditions': '.4474',
  'icu_for_covid': '.7614',
  'icu_other_conditions': '.2386'},
 {'_id': 33,
  'date': '2022-02-11T00:00:00',
  'hosp_for_covid': '.5368',
  'hosp_other_conditions': '.4632',
  'icu_for_covid': '.8025',
  'icu_other_conditions': '.1975'},
 {'_id': 34,
  'date': '2022-02-12T00:00:00',
  'hosp_for_covid': '.5432',
  'hosp_other_conditions': '.4568',
  'icu_for_covid': '.8082',
  'icu_other_conditions': '.1918'},
 {'_id': 35,
  'date': '2022-02-13T00:00:00',
  'hosp_for_covid': '.5470',
  'hosp_other_conditions': '.4530',
  'icu_for_covid': '.8106',
  'icu_other_conditions': '.1894'},
 {'_id': 36,
  'date': '2022-02-14T00:00:00',
  'hosp_for_covid': '.5311',
  'hosp_other_conditions': '.4689',
  'icu_for_covid': '.8185',
  'icu_other_conditions': '.1815'},
 {'_id': 37,
  'date': '2022-02-15T00:00:00',
  'hosp_for_covid': '.5393',
  'hosp_other_conditions': '.4607',
  'icu_for_covid': '.7964',
  'icu_other_conditions': '.2036'},
 {'_id': 38,
  'date': '2022-02-16T00:00:00',
  'hosp_for_covid': '.5399',
  'hosp_other_conditions': '.4601',
  'icu_for_covid': '.8161',
  'icu_other_conditions': '.1839'},
 {'_id': 39,
  'date': '2022-02-17T00:00:00',
  'hosp_for_covid': '.5207',
  'hosp_other_conditions': '.4793',
  'icu_for_covid': '.8030',
  'icu_other_conditions': '.1970'},
 {'_id': 40,
  'date': '2022-02-18T00:00:00',
  'hosp_for_covid': '.5065',
  'hosp_other_conditions': '.4935',
  'icu_for_covid': '.8065',
  'icu_other_conditions': '.1935'},
 {'_id': 41,
  'date': '2022-02-19T00:00:00',
  'hosp_for_covid': '.5008',
  'hosp_other_conditions': '.4992',
  'icu_for_covid': '.7940',
  'icu_other_conditions': '.2060'},
 {'_id': 42,
  'date': '2022-02-20T00:00:00',
  'hosp_for_covid': '.5089',
  'hosp_other_conditions': '.4911',
  'icu_for_covid': '.8634',
  'icu_other_conditions': '.1366'},
 {'_id': 43,
  'date': '2022-02-21T00:00:00',
  'hosp_for_covid': '.5115',
  'hosp_other_conditions': '.4885',
  'icu_for_covid': '.7971',
  'icu_other_conditions': '.2029'},
 {'_id': 44,
  'date': '2022-02-22T00:00:00',
  'hosp_for_covid': '.4925',
  'hosp_other_conditions': '.5075',
  'icu_for_covid': '.8038',
  'icu_other_conditions': '.1962'},
 {'_id': 45,
  'date': '2022-02-23T00:00:00',
  'hosp_for_covid': '.4911',
  'hosp_other_conditions': '.5089',
  'icu_for_covid': '.7750',
  'icu_other_conditions': '.2250'},
 {'_id': 46,
  'date': '2022-02-24T00:00:00',
  'hosp_for_covid': '.4883',
  'hosp_other_conditions': '.5117',
  'icu_for_covid': '.7755',
  'icu_other_conditions': '.2245'},
 {'_id': 47,
  'date': '2022-02-25T00:00:00',
  'hosp_for_covid': '.4857',
  'hosp_other_conditions': '.5143',
  'icu_for_covid': '.8011',
  'icu_other_conditions': '.1989'},
 {'_id': 48,
  'date': '2022-02-26T00:00:00',
  'hosp_for_covid': '.4596',
  'hosp_other_conditions': '.5404',
  'icu_for_covid': '.8171',
  'icu_other_conditions': '.1829'},
 {'_id': 49,
  'date': '2022-02-27T00:00:00',
  'hosp_for_covid': '.4442',
  'hosp_other_conditions': '.5558',
  'icu_for_covid': '.8408',
  'icu_other_conditions': '.1592'},
 {'_id': 50,
  'date': '2022-02-28T00:00:00',
  'hosp_for_covid': '.4519',
  'hosp_other_conditions': '.5481',
  'icu_for_covid': '.7836',
  'icu_other_conditions': '.2164'},
 {'_id': 51,
  'date': '2022-03-01T00:00:00',
  'hosp_for_covid': '.4542',
  'hosp_other_conditions': '.5458',
  'icu_for_covid': '.8026',
  'icu_other_conditions': '.1974'},
 {'_id': 52,
  'date': '2022-03-02T00:00:00',
  'hosp_for_covid': '.4441',
  'hosp_other_conditions': '.5559',
  'icu_for_covid': '.8239',
  'icu_other_conditions': '.1761'},
 {'_id': 53,
  'date': '2022-03-03T00:00:00',
  'hosp_for_covid': '.4495',
  'hosp_other_conditions': '.5505',
  'icu_for_covid': '.8082',
  'icu_other_conditions': '.1918'},
 {'_id': 54,
  'date': '2022-03-04T00:00:00',
  'hosp_for_covid': '.4422',
  'hosp_other_conditions': '.5578',
  'icu_for_covid': '.7919',
  'icu_other_conditions': '.2081'},
 {'_id': 55,
  'date': '2022-03-05T00:00:00',
  'hosp_for_covid': '.4389',
  'hosp_other_conditions': '.5611',
  'icu_for_covid': '.7692',
  'icu_other_conditions': '.2308'},
 {'_id': 56,
  'date': '2022-03-06T00:00:00',
  'hosp_for_covid': '.4353',
  'hosp_other_conditions': '.5647',
  'icu_for_covid': '.7609',
  'icu_other_conditions': '.2391'},
 {'_id': 57,
  'date': '2022-03-07T00:00:00',
  'hosp_for_covid': '.4239',
  'hosp_other_conditions': '.5761',
  'icu_for_covid': '.7576',
  'icu_other_conditions': '.2424'},
 {'_id': 58,
  'date': '2022-03-08T00:00:00',
  'hosp_for_covid': '.4401',
  'hosp_other_conditions': '.5599',
  'icu_for_covid': '.8168',
  'icu_other_conditions': '.1832'},
 {'_id': 59,
  'date': '2022-03-09T00:00:00',
  'hosp_for_covid': '.4537',
  'hosp_other_conditions': '.5463',
  'icu_for_covid': '.8106',
  'icu_other_conditions': '.1894'},
 {'_id': 60,
  'date': '2022-03-10T00:00:00',
  'hosp_for_covid': '.4701',
  'hosp_other_conditions': '.5299',
  'icu_for_covid': '.7895',
  'icu_other_conditions': '.2105'},
 {'_id': 61,
  'date': '2022-03-11T00:00:00',
  'hosp_for_covid': '.4648',
  'hosp_other_conditions': '.5352',
  'icu_for_covid': '.7578',
  'icu_other_conditions': '.2422'},
 {'_id': 62,
  'date': '2022-03-12T00:00:00',
  'hosp_for_covid': '.4634',
  'hosp_other_conditions': '.5366',
  'icu_for_covid': '.7692',
  'icu_other_conditions': '.2308'},
 {'_id': 63,
  'date': '2022-03-13T00:00:00',
  'hosp_for_covid': '.4831',
  'hosp_other_conditions': '.5169',
  'icu_for_covid': '.7913',
  'icu_other_conditions': '.2087'},
 {'_id': 64,
  'date': '2022-03-14T00:00:00',
  'hosp_for_covid': '.4804',
  'hosp_other_conditions': '.5196',
  'icu_for_covid': '.7805',
  'icu_other_conditions': '.2195'},
 {'_id': 65,
  'date': '2022-03-15T00:00:00',
  'hosp_for_covid': '.4921',
  'hosp_other_conditions': '.5079',
  'icu_for_covid': '.7698',
  'icu_other_conditions': '.2302'},
 {'_id': 66,
  'date': '2022-03-16T00:00:00',
  'hosp_for_covid': '.4670',
  'hosp_other_conditions': '.5330',
  'icu_for_covid': '.7857',
  'icu_other_conditions': '.2143'},
 {'_id': 67,
  'date': '2022-03-17T00:00:00',
  'hosp_for_covid': '.4721',
  'hosp_other_conditions': '.5279',
  'icu_for_covid': '.7544',
  'icu_other_conditions': '.2456'},
 {'_id': 68,
  'date': '2022-03-18T00:00:00',
  'hosp_for_covid': '.4525',
  'hosp_other_conditions': '.5475',
  'icu_for_covid': '.7838',
  'icu_other_conditions': '.2162'},
 {'_id': 69,
  'date': '2022-03-19T00:00:00',
  'hosp_for_covid': '.4743',
  'hosp_other_conditions': '.5257',
  'icu_for_covid': '.7981',
  'icu_other_conditions': '.2019'},
 {'_id': 70,
  'date': '2022-03-20T00:00:00',
  'hosp_for_covid': '.4722',
  'hosp_other_conditions': '.5278',
  'icu_for_covid': '.7700',
  'icu_other_conditions': '.2300'},
 {'_id': 71,
  'date': '2022-03-21T00:00:00',
  'hosp_for_covid': '.4684',
  'hosp_other_conditions': '.5316',
  'icu_for_covid': '.7870',
  'icu_other_conditions': '.2130'},
 {'_id': 72,
  'date': '2022-03-22T00:00:00',
  'hosp_for_covid': '.4589',
  'hosp_other_conditions': '.5411',
  'icu_for_covid': '.7156',
  'icu_other_conditions': '.2844'},
 {'_id': 73,
  'date': '2022-03-23T00:00:00',
  'hosp_for_covid': '.4653',
  'hosp_other_conditions': '.5347',
  'icu_for_covid': '.7037',
  'icu_other_conditions': '.2963'},
 {'_id': 74,
  'date': '2022-03-24T00:00:00',
  'hosp_for_covid': '.4532',
  'hosp_other_conditions': '.5468',
  'icu_for_covid': '.7900',
  'icu_other_conditions': '.2100'},
 {'_id': 75,
  'date': '2022-03-25T00:00:00',
  'hosp_for_covid': '.4660',
  'hosp_other_conditions': '.5340',
  'icu_for_covid': '.7677',
  'icu_other_conditions': '.2323'},
 {'_id': 76,
  'date': '2022-03-26T00:00:00',
  'hosp_for_covid': '.4797',
  'hosp_other_conditions': '.5203',
  'icu_for_covid': '.7553',
  'icu_other_conditions': '.2447'},
 {'_id': 77,
  'date': '2022-03-27T00:00:00',
  'hosp_for_covid': '.4812',
  'hosp_other_conditions': '.5188',
  'icu_for_covid': '.7778',
  'icu_other_conditions': '.2222'},
 {'_id': 78,
  'date': '2022-03-28T00:00:00',
  'hosp_for_covid': '.4688',
  'hosp_other_conditions': '.5313',
  'icu_for_covid': '.7708',
  'icu_other_conditions': '.2292'},
 {'_id': 79,
  'date': '2022-03-29T00:00:00',
  'hosp_for_covid': '.4691',
  'hosp_other_conditions': '.5309',
  'icu_for_covid': '.7188',
  'icu_other_conditions': '.2813'},
 {'_id': 80,
  'date': '2022-03-30T00:00:00',
  'hosp_for_covid': '.4918',
  'hosp_other_conditions': '.5082',
  'icu_for_covid': '.7320',
  'icu_other_conditions': '.2680'},
 {'_id': 81,
  'date': '2022-03-31T00:00:00',
  'hosp_for_covid': '.4772',
  'hosp_other_conditions': '.5228',
  'icu_for_covid': '.7364',
  'icu_other_conditions': '.2636'},
 {'_id': 82,
  'date': '2022-04-01T00:00:00',
  'hosp_for_covid': '.4864',
  'hosp_other_conditions': '.5136',
  'icu_for_covid': '.7103',
  'icu_other_conditions': '.2897'},
 {'_id': 83,
  'date': '2022-04-02T00:00:00',
  'hosp_for_covid': '.4638',
  'hosp_other_conditions': '.5362',
  'icu_for_covid': '.6893',
  'icu_other_conditions': '.3107'},
 {'_id': 84,
  'date': '2022-04-03T00:00:00',
  'hosp_for_covid': '.4798',
  'hosp_other_conditions': '.5202',
  'icu_for_covid': '.7264',
  'icu_other_conditions': '.2736'},
 {'_id': 85,
  'date': '2022-04-04T00:00:00',
  'hosp_for_covid': '.4805',
  'hosp_other_conditions': '.5195',
  'icu_for_covid': '.6796',
  'icu_other_conditions': '.3204'},
 {'_id': 86,
  'date': '2022-04-05T00:00:00',
  'hosp_for_covid': '.4575',
  'hosp_other_conditions': '.5425',
  'icu_for_covid': '.6759',
  'icu_other_conditions': '.3241'},
 {'_id': 87,
  'date': '2022-04-06T00:00:00',
  'hosp_for_covid': '.4622',
  'hosp_other_conditions': '.5378',
  'icu_for_covid': '.6952',
  'icu_other_conditions': '.3048'},
 {'_id': 88,
  'date': '2022-04-07T00:00:00',
  'hosp_for_covid': '.4668',
  'hosp_other_conditions': '.5332',
  'icu_for_covid': '.6604',
  'icu_other_conditions': '.3396'},
 {'_id': 89,
  'date': '2022-04-08T00:00:00',
  'hosp_for_covid': '.4567',
  'hosp_other_conditions': '.5433',
  'icu_for_covid': '.6422',
  'icu_other_conditions': '.3578'},
 {'_id': 90,
  'date': '2022-04-09T00:00:00',
  'hosp_for_covid': '.4645',
  'hosp_other_conditions': '.5355',
  'icu_for_covid': '.6579',
  'icu_other_conditions': '.3421'},
 {'_id': 91,
  'date': '2022-04-10T00:00:00',
  'hosp_for_covid': '.4336',
  'hosp_other_conditions': '.5664',
  'icu_for_covid': '.6569',
  'icu_other_conditions': '.3431'},
 {'_id': 92,
  'date': '2022-04-11T00:00:00',
  'hosp_for_covid': '.4431',
  'hosp_other_conditions': '.5569',
  'icu_for_covid': '.6429',
  'icu_other_conditions': '.3571'},
 {'_id': 93,
  'date': '2022-04-12T00:00:00',
  'hosp_for_covid': '.4572',
  'hosp_other_conditions': '.5428',
  'icu_for_covid': '.6372',
  'icu_other_conditions': '.3628'},
 {'_id': 94,
  'date': '2022-04-13T00:00:00',
  'hosp_for_covid': '.4664',
  'hosp_other_conditions': '.5336',
  'icu_for_covid': '.6083',
  'icu_other_conditions': '.3917'},
 {'_id': 95,
  'date': '2022-04-14T00:00:00',
  'hosp_for_covid': '.4516',
  'hosp_other_conditions': '.5484',
  'icu_for_covid': '.6491',
  'icu_other_conditions': '.3509'},
 {'_id': 96,
  'date': '2022-04-15T00:00:00',
  'hosp_for_covid': '.4507',
  'hosp_other_conditions': '.5493',
  'icu_for_covid': '.6417',
  'icu_other_conditions': '.3583'},
 {'_id': 97,
  'date': '2022-04-16T00:00:00',
  'hosp_for_covid': '.4564',
  'hosp_other_conditions': '.5436',
  'icu_for_covid': '.6047',
  'icu_other_conditions': '.3953'},
 {'_id': 98,
  'date': '2022-04-17T00:00:00',
  'hosp_for_covid': '.4431',
  'hosp_other_conditions': '.5569',
  'icu_for_covid': '.6466',
  'icu_other_conditions': '.3534'},
 {'_id': 99,
  'date': '2022-04-18T00:00:00',
  'hosp_for_covid': '.4444',
  'hosp_other_conditions': '.5556',
  'icu_for_covid': '.6279',
  'icu_other_conditions': '.3721'},
 {'_id': 100,
  'date': '2022-04-19T00:00:00',
  'hosp_for_covid': '.4468',
  'hosp_other_conditions': '.5532',
  'icu_for_covid': '.6357',
  'icu_other_conditions': '.3643'}]

In [7]:
hospital_cases = pd.DataFrame(data['result']['records'])
hospital_cases

,_id,date,hosp_for_covid,hosp_other_conditions,icu_for_covid,icu_other_conditions
0,1,2022-01-10T00:00:00,.5302,.4698,.7955,.2045
1,2,2022-01-11T00:00:00,.5395,.4605,.8279,.1721
2,3,2022-01-12T00:00:00,.5468,.4532,.8307,.1693
3,4,2022-01-13T00:00:00,.5450,.4550,.8198,.1802
4,5,2022-01-14T00:00:00,.5277,.4723,.8027,.1973
...,...,...,...,...,...,...
95,96,2022-04-15T00:00:00,.4507,.5493,.6417,.3583
96,97,2022-04-16T00:00:00,.4564,.5436,.6047,.3953
97,98,2022-04-17T00:00:00,.4431,.5569,.6466,.3534
98,99,2022-04-18T00:00:00,.4444,.5556,.6279,.3721
99,100,2022-04-19T00:00:00,.4468,.5532,.6357,.3643

In [8]:
pd.to_datetime(hospital_cases ['date']).dt.date

0     2022-01-10
1     2022-01-11
2     2022-01-12
3     2022-01-13
4     2022-01-14
         ...
95    2022-04-15
96    2022-04-16
97    2022-04-17
98    2022-04-18
99    2022-04-19
Name: date, Length: 100, dtype: object

In [9]:
hospital_cases['date']

0     2022-01-10T00:00:00
1     2022-01-11T00:00:00
2     2022-01-12T00:00:00
3     2022-01-13T00:00:00
4     2022-01-14T00:00:00
             ...
95    2022-04-15T00:00:00
96    2022-04-16T00:00:00
97    2022-04-17T00:00:00
98    2022-04-18T00:00:00
99    2022-04-19T00:00:00
Name: date, Length: 100, dtype: object

# Write a function to request the data

In [10]:
hospital_cases['new_date'] = pd.to_datetime(hospital_cases['date'])
hospital_cases['hosp_for_covid'] = hospital_cases['hosp_for_covid'].astype(float)
hospital_cases['new_cases_percentage'] = hospital_cases['hosp_for_covid'].diff(periods=1)
hospital_cases['rolling_average_icu'] = hospital_cases['icu_for_covid'].rolling(7).mean()

hospital_cases.sort_values('new_date')

,_id,date,hosp_for_covid,hosp_other_conditions,icu_for_covid,icu_other_conditions,new_date,new_cases_percentage,rolling_average_icu
0,1,2022-01-10T00:00:00,0.5302,.4698,.7955,.2045,2022-01-10,NaN,NaN
1,2,2022-01-11T00:00:00,0.5395,.4605,.8279,.1721,2022-01-11,0.0093,NaN
2,3,2022-01-12T00:00:00,0.5468,.4532,.8307,.1693,2022-01-12,0.0073,NaN
3,4,2022-01-13T00:00:00,0.5450,.4550,.8198,.1802,2022-01-13,-0.0018,NaN
4,5,2022-01-14T00:00:00,0.5277,.4723,.8027,.1973,2022-01-14,-0.0173,NaN
...,...,...,...,...,...,...,...,...,...
95,96,2022-04-15T00:00:00,0.4507,.5493,.6417,.3583,2022-04-15,-0.0009,0.642000
96,97,2022-04-16T00:00:00,0.4564,.5436,.6047,.3953,2022-04-16,0.0057,0.634400
97,98,2022-04-17T00:00:00,0.4431,.5569,.6466,.3534,2022-04-17,-0.0133,0.632929
98,99,2022-04-18T00:00:00,0.4444,.5556,.6279,.3721,2022-04-18,0.0013,0.630786
99,100,2022-04-19T00:00:00,0.4468,.5532,.6357,.3643,2022-04-19,0.0024,0.630571

# Illustrate your Data Cleaning and Feature Engineering processes: Use the difference to find daily new covid patients, negative means more patients leave the hospital compare to the new one, using rolling average  to find the icu patients percentage average. Also fillna for missing data

In [11]:
cols = [
    'new_date',
    'new_cases_percentage',
    'rolling_average_icu'
]

hospital_cases = hospital_cases[cols]

In [12]:
hospital_cases['new_cases_percentage'].fillna(value=0, inplace=True)
hospital_cases['rolling_average_icu'].fillna(value=0, inplace=True)

hospital_cases

/usr/local/lib64/python3.6/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

     new_date  new_cases_percentage  rolling_average_icu
0  2022-01-10                0.0000             0.000000
1  2022-01-11                0.0093             0.000000
2  2022-01-12                0.0073             0.000000
3  2022-01-13               -0.0018             0.000000
4  2022-01-14               -0.0173             0.000000
..        ...                   ...                  ...
95 2022-04-15               -0.0009             0.642000
96 2022-04-16                0.0057             0.634400
97 2022-04-17               -0.0133             0.632929
98 2022-04-18                0.0013             0.630786
99 2022-04-19                0.0024             0.630571

[100 rows x 3 columns]

In [13]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, types

In [14]:
db_secret = {
    "database": "pl0712",
    "drivername": "postgresql+psycopg2",
    "host": "mmai5100postgres.canadacentral.cloudapp.azure.com",
    "port": 5432,
    "user": "pl0712",
    "password": "2022!Schulich"
}

In [15]:
def create_db_engine(**args):

    connection_url = sa.engine.URL.create(
        drivername = args.pop("drivername"),
        username   = args.pop("user"),
        password   = args.pop("password"),
        host       = args.pop("host"),
        port       = args.pop("port"),
        database   = args.pop("database") if 'database' in args else ''
    )
    
    con = sa.create_engine(connection_url, **args)
    
    return con

In [16]:
engine = create_db_engine(**db_secret)

In [17]:
hospital_cases.to_sql(
    name='hospital_covid_cases',
    con=engine,
    schema='fact_tables',
    if_exists='replace',
    index=False,
    method='multi',
    dtype={
        'new_date'            : types.DATE,
        'new_cases_percentage'       : types.FLOAT,
        'rolling_average_icu' : types.DECIMAL(10,2)
    }
)